<div class="mt-8 max-w-md mx-auto bg-white shadow-lg rounded-lg p-6 ">

    <% if @user.errors.any? %>
        <div class="bg-red-100 text-red-800 p-4 rounded-md mb-6">
            <h3 class="font-bold">There were some problems with your form:</h3>
            <ul>
                <% @user.errors.full_messages.each do |message| %>
                <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>


    <h2 class="text-2xl font-bold text-center text-gray-900">Reset Your Password</h2>
    <p class="text-sm font-bold text-center text-gray-500 mt-4">Please enter a new password below:</p>
    
    <%= form_with model: @user,url: password_reset_edit_path(token: params[:token]), class: "space-y-8 mt-4" do |form| %>

        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">New Password</label>
            <%= form.password_field :password, class: "mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500", placeholder: "********" %>
        </div>

        <div>
            <label for="email" class="block text-sm font-medium text-gray-700">Re-enter New Password</label>
            <%= form.password_field :password_confirmation, class: "mt-1 block w-full border border-gray-300 rounded-md p-2 focus:ring-2 focus:ring-blue-500 focus:border-blue-500", placeholder: "********" %>
        </div>

        <div>
            <%= form.submit "Reset Password", class: "w-full bg-blue-600 text-white font-semibold py-2 rounded-md hover:bg-blue-700 transition duration-200 focus:ring-2 focus:ring-blue-400 focus:outline-none" %>
        </div>

    <% end %>
</div>
